@model Admin.ViewModel.CategoryViewModel

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/_AdminLayout.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row grid-margin">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Category</h4>
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ID" />
                            <div class="form-group">
                                <label asp-for="Category_Name" class="control-label">Category Name</label>
                                <input asp-for="Category_Name" class="form-control" />
                                <span asp-validation-for="Category_Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="File" class="control-label">Category Image</label>
                                <input type="file" asp-for="File" name="File" class="form-control" />
                                <span asp-validation-for="File" class="text-danger"></span><br />
                                <img src="~/uploads/@Model.Category_Image" />
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


