<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="/css/themify-icons.css" rel="stylesheet" />
    <link href="/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/vendor.bundle.addons.css" rel="stylesheet" />
    <link href="/css/vendor.bundle.base.css" rel="stylesheet" />
</head>

<body>
    <div>
        @RenderBody()
    </div>

    <script src="/js/vendor.bundle.addons.js"></script>
    <script src="/js/vendor.bundle.base.js"></script>
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/data-table.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>
